<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="preload"
      as="font"
      href="{% static 'fonts/FuturaPT-Medium.woff' %}"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      href="{% static 'fonts/FuturaPT-Bold.woff' %}"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      href="{% static 'fonts/FuturaPT-Light.woff' %}"
      type="font/woff"
      crossorigin
    />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <script type="module" src="{% static 'js/translates.js' %}"></script>
    <script type="module" src="{% static 'js/translations_en.js' %}"></script>
    <script type="module" src="{% static 'js/translations_ru.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link
      type="image/x-icon"
      rel="shortcut icon"
      href="{% static 'images/icon_main.ico' %}"
    />
    <link
      type="image/png"
      sizes="16x16"
      rel="icon"
      href="{% static 'images/icon_main.ico' %}"
    />
    <link
      type="image/png"
      sizes="32x32"
      rel="icon"
      href="{% static 'images/icon_main.ico' %}"
    />
    <link
      type="image/png"
      sizes="96x96"
      rel="icon"
      href="{% static 'images/icon_main.ico' %}"
    />
    <link
      type="image/png"
      sizes="120x120"
      rel="icon"
      href="{% static 'images/icon_main.ico' %}"
    />

    <link href="{% static 'css/aos.css' %}" rel="stylesheet" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Varela+Round&display=swap" rel="stylesheet">


<style>
  body{
    {
  font-family: "Varela Round", serif !important;

}
  }
</style>
    <title>20Bet PARTNERS</title>
  </head>






  <body>
    <div class="wrapper">
      <div class="go-to-top-button"></div>
      <header class="header main-header">
        <div class="header-nav">
          <a href="/" class="header-logo"
            ><img src="{% static 'images/logowhite.webp' %}" alt=""
          /></a>
          <nav class="header-menu">
            <a
              href="{% url 'index' %}"
              class="header-menu-item active-item about-product"
              data-translate="about_product"
            >About Us</a>
            <a href="./index.html#terms"
              class="header-menu-item terms-button style-terms-button"
              data-translate="conditions"
            >Terms</a>
            <a href="{% url 'faq' %}" class="header-menu-item" data-translate="faq">FAQs</a>
            <a
              href="{% url 'faq' %}"
              class="header-menu-item"
              data-translate="reviews"
            >Testimonials</a>
            <a href="./index.html#contacts"
              class="header-menu-item contact-button style-contact-button"
              data-translate="contacts"
            >Contacts</a>
          </nav>
          <div class="header-buttons">
            <a
              href="{% url 'register1' %}"
              target="_blank"
              ><button
                class="header-registration-button"
                data-translate="registration"
              >Registration</button
            ></a>
            <a href="{% url 'login1' %}" target="_blank"
              ><button
                class="header-login-button"
                data-translate="log_in"
              >Login</button
            ></a>
          </div>
          <div class="header-langs languages-list">
            <div class="current-language">
              <img
                src="{% static 'images/lang-arrow.svg' %}"
                alt=""
                class="lang-arrow"
              />
              <span class="cur-lang">RU</span>
            </div>
            <div class="sub-languages-list">
              <a class="language" href="">EN</a>
              <a class="language" href="">RU</a>
            </div>
          </div>
          <div class="burger-menu">
            <div class="menu-icon">
              <span></span>
            </div>
            <nav class="menu-body">
              <nav class="menu-list">
                <ul>
                  <li class="menu-item team-button">
                    <a href="/" data-translate="about_product"></a>
                  </li>
                  <li class="menu-item vac-button terms-button">
                    <a data-translate="conditions"></a>
                  </li>
                  <li class="menu-item benefits-button">
                    <a href="{% url 'faq' %}" data-translate="faq"></a>
                  </li>
                  <li class="menu-item about-us-button">
                    <a href="{% url 'faq' %}" data-translate="reviews"></a>
                  </li>
                  <li class="menu-item benefits-button contact-button">
                    <a data-translate="contacts"></a>
                  </li>
                  <li class="menu-item">
                    <!-- <ul class="burger-langs">
                      <li><a class="language" href="">RU</a></li>
                      <li><a class="language" href="">EN</a></li>
                    </ul> -->
                    <div
                      class="header-langs languages-list header-langs-burger"
                    >
                      <div class="current-language">
                        <span class="cur-lang cur-lang-burger">RU</span>
                        <img
                          src="{% static 'images/lang-arrow.svg' %}"
                          alt=""
                          class="lang-arrow lang-arrow-burger"
                        />
                      </div>
                      <div class="sub-languages-list sub-languages-list-burger">
                        <a class="language" href="">EN</a>
                        <a class="language" href="">RU</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </nav>
            </nav>
          </div>
        </div>
        <div class="header-content">
          <div class="header-title" data-aos="fade-up" data-aos-delay="200">
            <span>20Bet</span> Partners
          </div>
          <div
            class="header-subtitle"
            data-translate="header_subtitle"
            data-aos="fade-up"
            data-aos-delay="400"
          >Affiliate program
          from direct advertiser</div>
          <a
            href="{% url 'register1' %}"
            class="registration-button-wrapper"
            target="_blank"
            ><button
              class="registration-button"
              data-translate="registration_button"
              data-aos="fade-up"
              data-aos-delay="600"
            >Registration</button
          ></a>
          <img
            class="header-content-image"
            src="{% static 'images/header-content-img.webp' %}"
            alt=""
          />
        </div>
        <div class="header-content-blur"></div>
      </header>
      <main class="main">
        <div class="verticals-block">
          <div class="top-vertical-block">
            <div class="title" data-translate="verticals_title">Reach New Heights</div>
            <div class="sub-title" data-translate="verticals_subtitle">in two verticals</div>
            <p><span>betting</span> & <span>casino</span></p>
          </div>
          <div class="bottom-vertical-blocks">
            <div class="bottom-vertical-block vertical-block1">
              <span data-translate="vertical_translate1">Revshare <br>Upto 60%</span>
              <img src="{% static 'images/vertical-block1.webp' %}" alt="" />
            </div>
            <div class="bottom-vertical-block vertical-block2">
              <span data-translate="vertical_translate2">CPA <br>Upto 150$</span>
              <img src="{% static 'images/vertical-block2.webp' %}" alt="" />
            </div>
            <div class="bottom-vertical-block vertical-block3">
              <span data-translate="vertical_translate3">Hybrid</span>
              <img src="{% static 'images/vertical-block3.webp' %}" alt="" />
            </div>
            <div class="bottom-vertical-block vertical-block4">
              <span data-translate="vertical_translate4">Flat <br> Fee</span>
              <img src="{% static 'images/vertical-block4.webp' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="sub-affiliate-block">
          <img
            class="sub-affiliate-img"
            src="{% static 'images/sub-affiliate.webp' %}"
            alt=""
          />
          <div class="sub-affiliate-content">
            <div class="title">Sub-Affiliate 5%</div>
            <p data-translate="sub_affiliate_text">Bring a partner - become a subaff and get 3% of NGR (equals 6% of the affiliate commission)</p>
          </div>
        </div>
        <div class="partners-program-block">











          <div style="font-size: 1.5em; font-weight: bold; color: white; text-align: center; margin-bottom: 20px;">
            Why choose 20Bets affiliate program?
        </div>

        <div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; color: white;">
          <div style="display: flex; flex-direction: column; align-items: center;">
              <div style="background: linear-gradient(rgb(30, 30, 30) 0%, rgb(43, 43, 43) 100%); box-shadow: rgba(7, 7, 7, 0.31) 0px 2.7rem 5.4rem, rgb(28, 28, 28) 0px -1rem 1rem inset, rgb(45, 45, 45) 0px 1rem 1rem inset; border-radius: 50%; padding: 20px; width: 120px; height: 120px; display: flex; align-items: center; justify-content: center;">
                  <img src="{% static 'images/1.svg' %}" alt="Fast Support Icon" style="width: 40px; height: 40px;">
              </div>
              <div style="font-size: 0.9em; font-weight: bold; text-align: center; margin-top: 10px;">Upto 60%  <br> Commission</div>
          </div>

          <div style="display: flex; flex-direction: column; align-items: center;">
              <div style="background: linear-gradient(rgb(30, 30, 30) 0%, rgb(43, 43, 43) 100%); box-shadow: rgba(7, 7, 7, 0.31) 0px 2.7rem 5.4rem, rgb(28, 28, 28) 0px -1rem 1rem inset, rgb(45, 45, 45) 0px 1rem 1rem inset; border-radius: 50%; padding: 20px; width: 120px; height: 120px; display: flex; align-items: center; justify-content: center;">
                  <img src="{% static 'images/2.svg' %}" alt="Payment Models Icon" style="width: 40px; height: 40px;">
              </div>
              <div style="font-size: 0.8em; font-weight: bold; text-align: center; margin-top: 10px;">Regular <br> Payouts</div>
          </div>

          <div style="display: flex; flex-direction: column; align-items: center;">
              <div style="background: linear-gradient(rgb(30, 30, 30) 0%, rgb(43, 43, 43) 100%); box-shadow: rgba(7, 7, 7, 0.31) 0px 2.7rem 5.4rem, rgb(28, 28, 28) 0px -1rem 1rem inset, rgb(45, 45, 45) 0px 1rem 1rem inset; border-radius: 50%; padding: 20px; width: 120px; height: 120px; display: flex; align-items: center; justify-content: center;">
                  <img src="{% static 'images/3.svg' %}" alt="Weekly Payments Icon" style="width: 40px; height: 40px;">
              </div>
              <div style="font-size: 0.9em; font-weight: bold; text-align: center; margin-top: 10px;">A Large <br> Creative <br> Team</div>
          </div>

          <div style="display: flex; flex-direction: column; align-items: center;">
              <div style="background: linear-gradient(rgb(30, 30, 30) 0%, rgb(43, 43, 43) 100%); box-shadow: rgba(7, 7, 7, 0.31) 0px 2.7rem 5.4rem, rgb(28, 28, 28) 0px -1rem 1rem inset, rgb(45, 45, 45) 0px 1rem 1rem inset; border-radius: 50%; padding: 20px; width: 120px; height: 120px; display: flex; align-items: center; justify-content: center;">
                  <img src="{% static 'images/4.svg' %}" alt="Payout Periods Icon" style="width: 40px; height: 40px;">
              </div>
              <div style="font-size: 0.8em; font-weight: bold; text-align: center; margin-top: 10px;">Personal <br> Affiliate <br> Support</div>
          </div>
      </div>

<!--
          <div class="top-partners-block">
            <div class="top-tabs-block">
              <div class="partners-tab partners-tab1">
                <span data-translate="partners_tile1">Fast <br>Support</span>
                <img src="./assets/images/partners-icon1.webp" alt="" />
              </div>
              <div class="partners-tab partners-tab2">
                <span data-translate="partners_tile2">Payment Models revenue <br>Share, Cpa, Hybrid, And Flat fee</span>
                <img src="./assets/images/partners-icon2.webp" alt="" />
              </div>
              <div class="partners-tab partners-tab3">
                <span data-translate="partners_tile3">Weekly Payments by any <br>Convenient Method</span>
                <img src="./assets/images/partners-icon3.webp" alt="" />
              </div>
            </div>
            <div class="bottom-tabs-block">
              <div class="partners-tab partners-tab4">
                <span data-translate="partners_tile4">Payout Periods: Net7, <br> Net15, Net30, or Net60</span>
                <img src="./assets/images/partners-icon4.webp" alt="" />
              </div>
              <div class="partners-tab partners-tab5">
                <span data-translate="partners_tile5">Real Time Analytics</span>
                <img src="./assets/images/partners-icon5.webp" alt="" />
              </div>
            </div>
          </div> -->







          <div class="center-partners-block" data-translate="lifetime_rs">Lifetime RS - even without new traffic</div>


          <div class="bottom-partners-blocks">


            <div class="bottom-partners-block bottom-partners-block1">
              <span data-translate="bottom_partners_tile1">Personal Landing <br> Pages</span
              ><img
                src="{% static 'images/bottom-partners-icon1.png' %}"

                alt=""
              />
            </div>
            <div class="bottom-partners-block bottom-partners-block2">
              <span data-translate="bottom_partners_tile2">Banners and PreRolls</span
              ><img src="{% static 'images/bottom-partners-icon2.png' %}" alt="" />
            </div>
            <div class="bottom-partners-block bottom-partners-block3">
              <span data-translate="bottom_partners_tile3">Promocodes</span
              >
              <img
                src="{% static 'images/bottom-partners-icon3.png' %}"

                alt=""
              />
            </div>
            <div class="bottom-partners-block bottom-partners-block4">
              <span data-translate="bottom_partners_tile4">Reviews and Articles</span
              ><img src="{% static 'images/bottom-partners-icon4.png' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="coop-terms-block" id="terms">
          <img
            src="{% static 'images/terms-left.webp' %}"
            alt=""
            class="left-terms-image"
          />
          <img
            src="{% static 'images/terms-right.webp' %}"
            alt=""
            class="right-terms-image"
          />
          <div
            class="title terms-block"
            data-translate="coop_terms_title"
            data-aos="fade-up"
            data-aos-delay="100"
          >transparent cooperation terms</div>
          <div class="revenue-share">REVENUE SHARE</div>

          <div class="get-sale-block" data-translate="get_sale_title">INDIVIDUAL CONDITIONS FOR EACH PARTNER from 20% to 50% <span>
            EXCLUSIVE CONDITIONS FOR TOP PARTNERS - 55%
          </span>
          <img src="{% static 'images/get-sale-icon2.webp' %}" alt=""></div>
        </div>
        <div class="cpa-block">
          <div class="top-cpa-block">
            <div class="revenue-share" data-translate="cpa_range">CPA From 25$ to 30$</div>
            <div class="cpa-content">
              <div class="top-cpa-content">
                <div class="cpa-tile-wrapper cpa-tile-wrapper1">
                  <div class="cpa-tile-title" data-translate="cpa_title1">Traffic Review</div>
                  <div
                    class="cpa-tile-content"
                    data-translate="cpa_content1"
                  >Test Cap <br>(10 FD)</div>
                </div>
                <div class="cpa-tile-wrapper cpa-tile-wrapper2">
                  <div class="cpa-tile-title" data-translate="cpa_title2">Lead confirmation</div>
                  <div
                    class="cpa-tile-content"
                    data-translate="cpa_content2"
                  >Qualification <br>(Min Dep)</div>
                </div>
                <div class="cpa-tile-wrapper cpa-tile-wrapper3">
                  <div class="cpa-tile-title" data-translate="cpa_title3">Time to Qualification</div>
                  <div
                    class="cpa-tile-content"
                    data-translate="cpa_content3"
                  >Waiting for FD(7 Days)</div>
                </div>
              </div>
              <div class="bottom-cpa-content">
                <div class="cpa-tile-wrapper cpa-tile-wrapper4">
                  <div class="cpa-tile-title" data-translate="cpa_title4">Activity Check</div>
                  <div
                    class="cpa-tile-content"
                    data-translate="cpa_content4"
                  >Hold <br>(14 Days)</div>
                </div>
                <div class="cpa-tile-wrapper cpa-tile-wrapper5">
                  <div class="cpa-tile-title" data-translate="cpa_title5">Player confirmation</div>
                  <div
                    class="cpa-tile-content"
                    data-translate="cpa_content5"
                  >Payout</div>
                </div>
              </div>
            </div>
            <div class="revenue-share">nco</div>
          </div>








          <div class="cpa-items2-mobile">
            <p data-translate="cpa_items_title">NCO (NEGATIVE BALANCE CARRYOVER) - ACTIVE BY DEFAULT, BUT WE ARE HAPPY TO ENCOURAGE PARTNERS WITH REGULAR TRAFFIC. IF YOUR TRAFFIC MEETS THE CRITERIA BELOW - WE WILL DISABLE NCO FOR YOU.</p>
            <ul>
              <li data-translate="cpa_items_item1">CRITERIA FOR DISABLING NEGATIVE BALANCE CARRYOVER:</li>
              <li data-translate="cpa_items_item2">Number of registrations per month - 1000+</li>
              <li data-translate="cpa_items_item3">Number of FD per month - 300+</li>
              <li data-translate="cpa_items_item4">Number of players with deposits per month - 500+</li>
              <li data-translate="cpa_items_item5">Total amount of deposits - 20000$+</li>
            </ul>
            <div class="cpa-items2-bottom" data-translate="cpa_items_bottom"><span>AFTER REACHING THE REQUIREMENTS ABOVE, THE NEGATIVE BALANCE CARRYOVER WILL BE DISABLED</span></div>
            <img src="{% static 'images/cpa-items-img.webp' %}" alt="">
          </div>





        </div>


        <div class="traffic-type-block">
          <div class="title aos-init aos-animate" data-translate="traffic_title" data-aos="fade-up" data-aos-delay="200">WE PAY FOR ALL TRAFFIC<br>
  <span>(Excepting the motivated, schema, and fraud)</span></div>
          <div class="traffic-block">
            <img src="{% static 'images/traffic-image.webp' %}" alt="" class="traffic-image">
            <div class="traffic-grid">
              <div class="traffic-tile" data-translate="traffic_tile1">SEO</div>
              <div class="traffic-tile" data-translate="traffic_tile2">UAC</div>
              <div class="traffic-tile" data-translate="traffic_tile3">PPC</div>
              <div class="traffic-tile" data-translate="traffic_tile4">FB / Insta / Twitter</div>
              <div class="traffic-tile" data-translate="traffic_tile5">TikTok</div>
              <div class="traffic-tile" data-translate="traffic_tile6">ASO</div>
              <div class="traffic-tile" data-translate="traffic_tile7">Streamers</div>
              <div class="traffic-tile" data-translate="traffic_tile8">TG Channels</div>
              <div class="traffic-tile" data-translate="traffic_tile9">E-mail</div>
            </div>
          </div>
          <a href="{% url 'register1' %}" class="registration-button-wrapper" target="_blank"><button class="registration-button aos-init aos-animate" data-translate="registration_button" data-aos="fade-up">Registration</button></a>
        </div>







        <!-- <div class="traffic-type-block">
          <div
            class="title"
            data-translate="traffic_title"
            data-aos="fade-up"
            data-aos-delay="200"
          ></div>
          <div class="traffic-block">
            <img
              src="./assets/images/traffic-image.webp"
              alt=""
              class="traffic-image"
            />
            <div class="traffic-grid">
              <div class="traffic-tile" data-translate="traffic_tile1"></div>
              <div class="traffic-tile" data-translate="traffic_tile2"></div>
              <div class="traffic-tile" data-translate="traffic_tile3"></div>
              <div class="traffic-tile" data-translate="traffic_tile4"></div>
              <div class="traffic-tile" data-translate="traffic_tile5"></div>
              <div class="traffic-tile" data-translate="traffic_tile6"></div>
              <div class="traffic-tile" data-translate="traffic_tile7"></div>
              <div class="traffic-tile" data-translate="traffic_tile8"></div>
              <div class="traffic-tile" data-translate="traffic_tile9"></div>
            </div>
          </div>
          <a
            href="./reg.html"
            class="registration-button-wrapper"
            target="_blank"
            ><button
              class="registration-button"
              data-translate="registration_button"
              data-aos="fade-up"
            ></button
          ></a>
        </div> -->








        <!-- <div class="geo-block">
          <div class="top-geo-block">
            <div class="top-geo-title" data-translate="top_geo_title">TOP GEO</div>
            <div data-translate="top_country1">CIS</div>
            <div data-translate="top_country2">germany</div>
            <div data-translate="top_country3">poland</div>
            <div data-translate="top_country4">Portugal</div>
            <div data-translate="top_country5">Canada</div>
            <div data-translate="top_country6">Australia</div>
            <div data-translate="top_country7">New Zealand</div>
            <div data-translate="top_country8">Brazil</div>
            <div data-translate="top_country9">Turkey</div>
            <div data-translate="top_country10">Switzerland</div>
            <div data-translate="top_country11">Austria</div>
            <div data-translate="top_country12">Czech Republic</div>
          </div>
          <div class="forbidden-geo-block">
            <div class="forbidden-geo-title" data-translate="res_geo_title">RESTRICTED GEO </div>
            <div class="forbidden-geo-title-mobile" data-translate="res_geo_title_mobile">RESTRICTED GEO</div>
            <div class="geo-scroll-container">
              <div data-translate="res_country1">BENIN</div>
              <div data-translate="res_country2">CAMEROON</div>
              <div data-translate="res_country3">IVORY COAST</div>
              <div data-translate="res_country4">CURACAO</div>
              <div data-translate="res_country5">CYPRUS</div>
              <div data-translate="res_country6">FRANCE</div>
              <div data-translate="res_country7">GUINEA</div>
              <div data-translate="res_country8">IRAN</div>
              <div data-translate="res_country9">IRAQ</div>
              <div data-translate="res_country10">ISRAEL</div>
              <div data-translate="res_country11">LITHUANIA</div>
              <div data-translate="res_country12">NEPAL</div>
              <div data-translate="res_country13">NETHERLANDS</div>
              <div data-translate="res_country14">NORTH KOREA</div>
              <div data-translate="res_country15">PUERTO RICO</div>
              <div data-translate="res_country16">SOUTH KOREA</div>
              <div data-translate="res_country17">Thailand</div>
              <div data-translate="res_country18">GREAT BRITAIN</div>
              <div data-translate="res_country19">UKRAINE</div>
              <div data-translate="res_country20">USA</div>
            </div>
          </div>
        </div> -->







        <!-- <div class="geo-block">
          <div class="top-geo-block">
            <div class="top-geo-title" data-translate="top_geo_title"></div>
            <div data-translate="top_country1"></div>
            <div data-translate="top_country2"></div>
            <div data-translate="top_country3"></div>
            <div data-translate="top_country4"></div>
            <div data-translate="top_country5"></div>
            <div data-translate="top_country6"></div>
            <div data-translate="top_country7"></div>
            <div data-translate="top_country8"></div>
            <div data-translate="top_country9"></div>
            <div data-translate="top_country10"></div>
            <div data-translate="top_country11"></div>
            <div data-translate="top_country12"></div>
          </div>
          <div class="forbidden-geo-block">
            <div
              class="forbidden-geo-title"
              data-translate="res_geo_title"
            ></div>
            <div
              class="forbidden-geo-title-mobile"
              data-translate="res_geo_title_mobile"
            ></div>
            <div class="geo-scroll-container">
              <div data-translate="res_country1"></div>
              <div data-translate="res_country2"></div>
              <div data-translate="res_country3"></div>
              <div data-translate="res_country4"></div>
              <div data-translate="res_country5"></div>
              <div data-translate="res_country6"></div>
              <div data-translate="res_country7"></div>
              <div data-translate="res_country8"></div>
              <div data-translate="res_country9"></div>
              <div data-translate="res_country10"></div>
              <div data-translate="res_country11"></div>
              <div data-translate="res_country12"></div>
              <div data-translate="res_country13"></div>
              <div data-translate="res_country14"></div>
              <div data-translate="res_country15"></div>
              <div data-translate="res_country16"></div>
              <div data-translate="res_country17"></div>
              <div data-translate="res_country18"></div>
              <div data-translate="res_country19"></div>
              <div data-translate="res_country20"></div>
            </div>
          </div>
        </div> -->
















        <div class="managers-block">
          <!--<div
            class="title"
            data-translate="managers_title"
            data-aos="fade-up"
          ></div>
          <div class="managers">
            <a
              href="https://t.me/felix_hoa_20Better"
              target="_blank"
              class="manager-image-wrapper"
            >
              <img src="./assets/images/manager1.webp" alt="" />
            </a>
            <a
              href="https://t.me/alexandr_20Betpartners"
              target="_blank"
              class="manager-image-wrapper"
            >
              <img src="./assets/images/manager2.webp" alt="" />
            </a>
            <a
              href="https://join.skype.com/invite/FYD16VcQykO1"
              target="_blank"
              class="manager-image-wrapper"
            >
              <img src="./assets/images/manager3.webp" alt="" />
            </a>
            <a
              href="https://t.me/YanaL_20Better"
              target="_blank"
              class="manager-image-wrapper"
            >
              <img src="./assets/images/manager4.webp" alt="" />
            </a>
          </div>//-->
          <div class="support-info" id="contacts">
            <span data-translate="support_t">Contacts:</span>
	    <a href="https://t.me/Roland_tl_aff">Telegram</a>
            <a href="mailto:support@20betpartners.com">support@20betpartners.com</a>
            <a href="mailto:cooperation@20Bet.partners">cooperation@20Bet.partners</a>
          </div>
        </div>
      </main>




      <footer class="footer">
        <div class="inner-footer">
          <div class="footer-item-wrapper">
            <a href="{% url 'terms' %}" class="privacy" data-translate="privacy">privacy policy</a>
          </div>
          <div class="footer-item-wrapper">
            <a href="/" class="footer-logo"><img src="{% static 'images/logowhite.webp' %}" alt=""></a>
          </div>
          <div class="footer-item-wrapper">
            <a href="{% url 'terms' %}" class="terms" data-translate="terms">terms and conditions</a>
          </div>
        </div>
      </footer>
    </div>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
      let headerContentImg = document.querySelectorAll(".header-content-image");
      let chips1 = document.querySelectorAll(".chips-icon1");
      let chips2 = document.querySelectorAll(".chips-icon2");
      let leftTermsImg = document.querySelectorAll(".left-terms-image");
      let rightTermsImg = document.querySelectorAll(".right-terms-image");
      new simpleParallax(headerContentImg, {
        delay: 0,
        orientation: "up",
        scale: 1.5,
        overflow: true,
      });
      new simpleParallax(chips1, {
        delay: 0,
        orientation: "up",
        scale: 2,
        overflow: true,
      });
      new simpleParallax(chips2, {
        delay: 0,
        orientation: "down",
        scale: 2,
        overflow: true,
      });

      new simpleParallax(leftTermsImg, {
        delay: 0,
        orientation: "down",
        scale: 0.5,
        overflow: true,
      });

      new simpleParallax(rightTermsImg, {
        delay: 0,
        orientation: "up",
        scale: 0.5,
        overflow: true,
      });
    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>